.table {
  width: auto;
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
  padding: 2px;
}

input {
  padding: 0;
  width: 80px;
  border-radius: 2px;
}

.ng-valid[required],
.ng-valid.required {
  border: 0;
  border-right: 2px solid #07F315;
  /* green */
}

.ng-invalid:not(form) {
  border: 0;
  border-right: 2px solid #E11511;
  /* red */
}

.panel {
  width: max-content;
}

.panel-body {
  padding: 0;
}

.table {
  margin: 0;
}