<div class="panel panel-default">
  <div class="panel-heading">CMFFDLSTX</div>
    <table class="table">
      <thead>
        <tr><th>col1</th><th>col2</th><th>col3</th><th>col4</th></tr>
      </thead>
      <tbody>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
      </tbody>
    </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">CMFFDLSTX</div>
    <table class="table">
      <thead>
        <tr><th>col1</th><th>col2</th><th>col3</th><th>col4</th></tr>
      </thead>
      <tbody>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
        <tr><td>data1</td><td>data2</td><td>data3</td><td>data4</td></tr>
      </tbody>
    </table>
</div>
